<div class="row">
  <div class="large-12 columns">
    <div class="login-window">
      <p class="login-title">Continue the Adventure</p>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <div class="login-button">
          <%= f.submit "Log in", class: "button success radius expand" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
