<div class="row">
  <div class="large-12 columns">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    <div class="login-window">
      <p class="login-title">Join the adventure</p>
      <%= form_for(:session, url: users_path, method: :post) do |f| %>
        <div class="large-4 columns">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="large-4 columns">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="large-4 columns">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
        <div class="large-4 columns">
          <%= f.label :location %>
          <%= f.text_field :location, class: 'form-control' %>
        </div>
        <div class="large-4 columns">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="large-4 columns">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="large-4 columns">
          <%= f.submit "Register", class: "button success radius expand" %>
        </div>
      <% end %>
      <p class="login-title">Already a member? <%= link_to "Log in!", login_path %></p>
    </div>
  </div>
</div>
